:root {
  // ---------- COLORS
  --color-neutral-100: 0, 0%, 100%;
  --color-neutral-800: 0, 7%, 24%;
  --color-primary: 0, 36%, 70%;
  --color-secondary: 0, 74%, 74%;
  --color-error: 0, 92%, 68%;
}
