@use '../abstracts/mixins' as mixin;

body {
  font: var(--copy-font);
  line-height: var(--copy-leading);
  color: var(--copy-color);
  background-image: var(--body-bg-img-url);
  background-position: no-repeat;
  background-size: cover;
  background-color: var(--body-bg-color);
}

.heading {
  font-weight: var(--heading-fw);
  font-size: var(--heading-fs);
  color: var(--heading-color);

  span {
    font-weight: var(--heading-span-fw);
    letter-spacing: var(--heading-span-tracking);
    color: var(--heading-span-color);
  }
}
